<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <header>
    <div id="header-container">
      <h1 id="header">Find you next destination</h1>
    </div>

    <section id="trip-add">
      <form id="add-form">
        <!-- <label id="add-btn-label" for="add-btn">My trip</label> -->
        <button id="add-btn" type="submit">
          <div id="add-btn-img"></div>
          new
        </button>
      </form>
    </section>
  </header>

  <main id="container">
    <section id="trip-search">
      <form id="search-form">
        
        <div id="cities-and-dates">
          <div id="cities">
            <label id="search-departure" for="departure">
              My trip from:
            </label>
            <input id="departure" type="text" name="departure"  value="" placeholder="Enter city name" required>
    
            <label id="search-destination" for="destination">
              to:
            </label>
            <input id="destination" type="text" name="destination"  value="" placeholder="Enter city name" required>
          </div>
  
          <div id="dates">
            <label id="search-start-date" for="start-date">
              Start date:
            </label>
            <input id="start-date" type="date" name="start-date" required>
    
            <label id="search-end-date" for="end-date">
              End date:
            </label>
            <input id="end-date" type="date" name="end-date" required>
          </div>
        </div>
        
        <button id="search-form-btn" type="submit">
          <div id="search-btn-img"></div>
          search
        </button>
      </form>
    </section>

    <section id="trip-result" class="hide">
      <div id="photo-and-add-info">
        <img id="destination-photo" alt="destination photo">

        <button class="add-info-btn" type="submit">
          <div class="add-info-btn-img"></div>
          add lodging info
        </button>

        <button class="add-info-btn" type="submit">
          <div class="add-info-btn-img"></div>
          add packing list
        </button>

        <button class="add-info-btn" type="submit">
          <div class="add-info-btn-img"></div>
          add notes
        </button>
      </div>

      <div id="trip-detailes">
        <p id="destination-and-departure"></p>
        <p id="start-and-end-date"></p>
        <p id="day-to-go"></p>
        <p id="day-length">Trip length: </p>
    
        <div id="weather">
          <p id="weather-info">Typical weather for then is: </p>
          <img id="weather-icon" src="" alt="weather icon">
        </div>
    
        <div id="search-form-btns">
          <button id="search-form-save-btn" type="submit">
            <div id="save-btn-img"></div>
            save trip
          </button>
    
          <button id="search-form-remove-btn" type="submit">
            <div id="remove-btn-img"></div>
            remove trip
          </button>
        </div>
      </div>
    </section>

    <section id="saved-trips" class="hide">
      <div id="saved-trips-field"></div>
    </section>
  </main>

  <footer>
      <p id="copyright">© 2022 <em>&nbsp; &nbsp; Marina Saitgareeva</em></p>
  </footer>
</body>
</html>