// Create an alias for the namespace
@use 'variables';

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  #header-container {
    width: 100%;
    height: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    background-image: url(/src/client/assets/main-img.jpg);
    background-size: 100% 100%;

    font-size: 1.5rem;
    font-family: $title-font-family;
    word-spacing: 1rem;

    #header {
      // % - to spread colors in linear-gradient.
      background: linear-gradient(to right, #23966c 0%, #faaa54 30%, #e23b4a 60%, #db0768 80%, #360670 100%);
      // The background is painted within (clipped to) the foreground text.
      -webkit-background-clip: text;
      // Specifies the fill color of characters of text. The text will to be transparent to see linear-gradient background.
      -webkit-text-fill-color: transparent;
      // Display: inline-block -> Text linear-gradient should be set on only the text, not its background.
  
      padding: 0.4rem;
      margin: 0 2rem 1rem 0;
    }
  }

  #trip-add {
    // background-color: $white-smoke;

    padding-top: 1rem;
    padding-bottom: 3.2rem;
  }
  
  #add-form {
    float: right;

    padding-inline: 2rem;
  
    #add-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.8rem;

      background-color: $white-smoke;
      border: $btn-border;
      border-radius: $btn-border-radius;

      color: $btn-text;

      padding: $btn-padding-big;
        // margin-right: 1rem;

      cursor: pointer;
      transition: 0.3s all ease-in-out;
  
      &:hover {
          box-shadow: $btn-box-shadow-hover;

          color: $btn-text-hover;

          transform: scale(1.02);
      }
  
      #add-btn-img {
        height: 1rem;
        width: 1rem;

        background-image: url(/src/client/assets/add-btn.png);
        background-size: 100% 100%;
      }
    }
  }
}

// 2nd option for gradient-text.
// @mixin gradient-text($gradient) {
//   // The mix-blend-mode CSS property sets how an element's content should blend with the content of the element's parent and the element's background.
//   @supports(mix-blend-mode: lighten) {
//     display: inline-block;
//     position: relative;
//     color: #000;
//     background: $white;
//     mix-blend-mode: multiply;
//     &::before {
//       content: '';
//       display: block;
//       position: absolute;
//       top: 0; right: 0; bottom: 0; left: 0;
//       background: unquote($gradient);
//       mix-blend-mode: screen;
//       // The element is never the target of pointer events
//       pointer-events: none;
//     }
//   }
// }

// #header {
//   @include gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)');
//   word-spacing: 0.8rem;
//   padding: 1.5rem 3rem;

// }