// Create an alias for the namespace
@use 'variables';

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  #header-container {
    width: 100%;
    height: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    background-image: url(/src/client/assets/main-img.jpg);
    background-size: 100% 100%;

    font-size: 1.3rem;
    font-family: $title-font-family;
    word-spacing: 1.2rem;

    #header {
      // % - to spread colors in linear-gradient.
      background: linear-gradient(to right, #23966c 0%, #faaa54 30%, #e23b4a 60%, #db0768 80%, #360670 100%);
      // The background is painted within (clipped to) the foreground text.
      -webkit-background-clip: text;
      // Specifies the fill color of characters of text. The text will to be transparent to see linear-gradient background.
      -webkit-text-fill-color: transparent;
      // Display: inline-block -> Text linear-gradient should be set on only the text, not its background.
      display: inline-block;
      padding: 0.4rem 0.5rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  #add-btn {
    position: absolute;
    right: 0.6rem;

    display: flex;
    align-items: center;
    gap: 0.4rem;

    background-color: $white-smoke;
    border: $btn-border;
    border-radius: $btn-border-radius;

    color: $btn-text;

    padding: $btn-padding-small;
    margin-top: 0.6rem;

    cursor: pointer;
    transition: 0.3s all ease-in-out;

    opacity: 0.3;

    &:hover {
      box-shadow: $btn-box-shadow-hover;

      color: $btn-text-hover;

      transform: scale(1.02);

      opacity: 1;
    }

    #add-btn-img {
      height: 0.7rem;
      width: 0.7rem;

      background-image: url(/src/client/assets/add-btn.png);
      background-size: 100% 100%;
    }
  }

  /* Medium devices (landscape tablets, 860px and up) */
  @media only screen and (max-width: 860px) {
    #header-container {
      height: 5.5rem;
      font-size: 1rem;
      word-spacing: 0.7rem;
    }

    #add-btn {
      gap: 0.25rem;

      font-size: 0.7rem;

      padding: $btn-padding-xsmall;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    #header-container {
      height: 4rem;
      font-size: 0.7rem;
      word-spacing: 0.2rem;

      #header {
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  /* Extra small devices (phones, 400px and down) */
  @media only screen and (max-width: 400px) {
    #header-container {
      font-size: 0.65rem;

      #header {
        margin-right: 0;
      }
    }
    #add-btn {
      right: 0.4rem;

      padding: $btn-padding-xsmall;
      margin-top: 0.4rem;
    }
  }
}

// 2nd option for gradient-text.
// @mixin gradient-text($gradient) {
//   // The mix-blend-mode CSS property sets how an element's content should blend with the content of the element's parent and the element's background.
//   @supports(mix-blend-mode: lighten) {
//     display: inline-block;
//     position: relative;
//     color: #000;
//     background: $white;
//     mix-blend-mode: multiply;
//     &::before {
//       content: '';
//       display: block;
//       position: absolute;
//       top: 0; right: 0; bottom: 0; left: 0;
//       background: unquote($gradient);
//       mix-blend-mode: screen;
//       // The element is never the target of pointer events
//       pointer-events: none;
//     }
//   }
// }

// #header {
//   @include gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)');
//   word-spacing: 0.8rem;
//   padding: 1.5rem 3rem;

// }