@use 'variables';

#saved-trips {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
  margin: 1rem 0.5rem;

  .saved-trip-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid #E7EBED;
    border-radius: 1rem;

    padding: 0.8rem;

    transition: 0.2s all ease-in-out;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 1rem 0 rgb(50 50 50 / 10%);
    }
  }

  .saved-photo-and-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;

    .saved-destination-photo {
      flex-basis: 100%;
      width: 80%;
      max-width: 20rem;
      height: 80%;
      max-height: 15rem;

      border-radius: 1.5rem;
    }

    .saved-add-info-btn {
      width: fit-content;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.2rem;
  
      background-color: $btn-background;
      border: $btn-border;
      border-radius: $btn-border-radius;
  
      font-size: 0.7rem;
      color: $btn-text;
  
      padding: $btn-padding-xsmall;
  
      cursor: pointer;
      transition: 0.3s all ease-in-out;
  
      &:hover {
          box-shadow: $btn-box-shadow-hover;
  
          color: $btn-text-hover;
  
          transform: scale(1.02);
      }
  
      .saved-add-info-btn-img {
        height: 0.7rem;
        width: 0.7rem;
  
        background-image: url(/src/client/assets/add-btn.png);
        background-size: 100% 100%;
      }
    }
  }

  .saved-route,
  .saved-dates {
    text-align: center;
    margin-top: 0.3rem;

    .saved-map {
      text-decoration: none;
      color: $primary-text-color;
    }

    .saved-flag {
      display: inline-block;

      height: 0.8rem;

      margin-inline: 0.2rem;
    }

    .saved-day-to-go-text {
      color: #faaa54;
    }
  }

  .saved-destination-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    margin-top: 1.5rem;

    .saved-weather {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }

    .saved-weather-assumption {
      font-size: 0.7rem;
    }

    .saved-weather-historical-description {
      display: flex;
      align-items: center;
    }

    .saved-weather-icon {
      display: inline-block;

      width: 1.5rem;

      margin-inline: 0.2rem;
    }

    .saved-weather-current {
      display: flex;
      align-items: center;
    }
  }

    .saved-remove-btn {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3rem;
  
      background-color: $btn-background;
      border: $btn-border;
      border-radius: $btn-border-radius;
  
      color: $btn-text;
  
      padding: $btn-padding-small ;
      margin-right: 1rem;
  
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      &:hover {
          box-shadow: $btn-box-shadow-hover;
  
          color: $btn-text-hover;
  
          transform: scale(1.02);
      }

      .saved-remove-btn-img {
        height: 1rem;
        width: 1rem;
  
        background-image: url(/src/client/assets/remove-btn.png);
        background-size: 100% 100%;
      }
    }
  }