@use 'variables';

#trip-result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  background-color: #FAF1E6;
  
  padding: 1rem 2rem;


  #destination-photo-figure {
    width: 100%;
    display: flex;
    flex-direction: column;

    #destination-photo {
      width: 100%;
      max-height: 420px;
      border-radius: 2rem;

      margin-bottom: -2.5rem;
    }

    #destination-photo-caption {
      width: fit-content;

      background: #0000004a;
      border-radius: 5rem;

      color: #ffffffad;
      font-size: 0.8rem;
      font-style: italic;

      padding: 0.2rem 0.5rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
  }


  #trip-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-inline: 0.5rem;

    .map {
      text-decoration: none;
      color: $primary-text-color;
    }

    .flag {
      display: inline-block;

      height: 1rem;

      margin-inline: 0.2rem;
    }

    #destination-info {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      margin-top: 1.5rem;

      #weather {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
  
      #weather-assumption {
        font-size: 0.7rem;
      }
  
      #weather-historical-description {
        display: flex;
        align-items: center;
      }
  
      #weather-icon {
        display: inline-block;
  
        width: 1.5rem;
  
        margin-inline: 0.2rem;
      }

      #weather-current {
        display: flex;
        align-items: center;
      }
    }
    
    #search-form-btns {
      display: flex;

      margin-top: 0.5rem;

      #search-form-save-btn,
      #search-form-remove-btn {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;
    
        background-color: $btn-background;
        border: $btn-border;
        border-radius: $btn-border-radius;
    
        color: $btn-text;
    
        padding: $btn-padding-small ;
        margin-right: 1rem;
    
        cursor: pointer;
        transition: 0.3s all ease-in-out;
  
        &:hover {
            box-shadow: $btn-box-shadow-hover;
    
            color: $btn-text-hover;
    
            transform: scale(1.02);
        }

        #save-btn-img {
          height: 1rem;
          width: 1rem;
    
          background-image: url(/src/client/assets/add-btn.png);
          background-size: 100% 100%;
        }

        #remove-btn-img {
          height: 1rem;
          width: 1rem;
    
          background-image: url(/src/client/assets/remove-btn.png);
          background-size: 100% 100%;
        }
      }
    }
  }
}