@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Pacifico&display=swap');

// Font variables
$title-font-family: 'Pacifico', cursive;
$main-font-family: 'Montserrat', sans-serif;

// Color variables
$white: #fff;
$white-smoke: #f5f5f5;
$primary-text-color: #263238;

// Button style
$btn-text: #319ca0;
$btn-text-hover: #1b7276;
$btn-background: #e1ffee44;
$btn-border: 1px solid #7FBCD2;
$btn-border-radius: 20px;
$btn-padding-big: 0.6rem 1.4rem;
$btn-padding-medium: 0.4rem 1rem;
$btn-padding-small: 0.3rem 0.6rem;
$btn-padding-xsmall: 0.2rem 0.4rem;
$btn-box-shadow-hover: 0.1rem 0.1rem 0.5rem 0 rgba(50, 50, 50, 0.3);



